h1, h2, h3, h4 {
    padding: 0;
    margin: 5px 0 5px;
}

.clearfix:after{
	content: "";
	clear: both;
	display: table;
}
.wall{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	background: #F7F7F7;
}
	.window{
		background: #FFFFFF;
		position:absolute;
		width: 300px;
		height: 400px;
		border: 1px solid #C0C0C0;
		border-radius: 4px;
		top: 20px;
		left: 20px;
		min-width: 250px;
		min-height: 200px;
		
		-webkit-box-shadow: 1px 1px 2px 0 rgba(102, 99, 102, 0.3);
		-moz-box-shadow: 1px 1px 2px 0 rgba(102, 99, 102, 0.3);
		box-shadow: 1px 1px 2px 0px rgba(102, 99, 102, 0.3);
	}
		.window-title{
			color: #FFFFFF;
			font-weight: bold;
			padding: 2px 2px 2px 22px;
			background: #FF5941;
			background-repeat: no-repeat;
			background-image: url(../img/folder.png);
			background-position:  4px;
			height: 21px;
		}
		.window.selected .window-title{
			background-color: #FFCC33;
		}		
			.window-text{
				float: left;
			}
				.window-text span{
					line-height: 21px;
				}
			.window-buttons{
				float: right;
			}
				.window-buttons div{
					font-weight: normal;
					width: 20px;
					height: 20px;
					float: left;
					border: 1px solid #A5A5A5;
					background: #EBEBEB;
					text-align: center;
					padding: 0;
					line-height: 19px;
					color: #000000;
					cursor: pointer;
				}
		.window-body {
			padding: 4px;
			position: absolute;
			bottom: 0px;
			top: 25px;
			overflow: auto;
			left: 0px;
			right: 0px;
		}
		.resize-box{
			width: 5px;
			height: 5px;
			/* background: #FF0000; */
			position: absolute;
			bottom: 0px;
			right: 0px;
			cursor: nw-resize;
		}
	.page-list{
		background: #FFFFFF;
		position:absolute;
		width: 200px;
		border: 1px solid #C0C0C0;
		border-radius: 4px;
		bottom: 16px;
		left: 2px;
		z-index: 5001;
		list-style-type: none;
		padding: 1px 1px;
		display: none;
	}
		.page-list li{
			border: 1px solid #C0C0C0;
			border-radius: 2px;
			margin-bottom: 1px;
			padding: 2px 4px;
			cursor: pointer;
		}
	
.bar{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #ff5941;
	z-index: 5000;
}
	.start-button{
		position: absolute;
		width: 40px;
		height: 40px;
		background: #f7f7f7;
		float: left;
		color: #080505;
		border-radius: 19px;
		cursor: pointer;
		text-align: center;
		bottom: -5px;
		line-height: 40px;
		border: 1px solid #C0C0C0;
		font-weight: bold;
	}
	.button-bar{
		float: left;
		padding: 2px 4px 2px 45px;
	}
		.win-button{
			height: 26px;
			line-height: 26px;
			min-width: 80px;
			border: 1px none transparent;
			color: #1D1414;
			border-radius: 4px;
			font-weight: normal;
			background: #f7f7f7;
			background-repeat: no-repeat;
			background-image: url(../img/folder.png);
			background-position: 4px 5px;
			padding-left: 24px;
			cursor: pointer;
			float: left;
			margin-right: 2px;
		}
		.win-button.selected{
			background-color: #D6D6D6;
		}
	.try-bar{
		float: right;
		line-height: 30px;
		color: #ffffff;
		padding: 0 10px;
	}

.window,
.win-button{
	display: none;
}	
	