body, a{
	color: #2b2b2b;
	font-size: 12px;
	font-family: 'HelveticaNeue';
	line-height: 18px;
}
a{
	text-decoration: none;
}
.clearfix:after{
	content: "";
	clear: both;
	display: table;
}
.wrapper{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
button{
	background: -moz-linear-gradient(top,  #d7d7d7 0%, #cbcbcb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #d7d7d7 0%,#cbcbcb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #d7d7d7 0%,#cbcbcb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	
	border: 1px none transparent;
    color: #ffffff;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 3px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
}
	button.blue{
			background: -moz-linear-gradient(top,  #77adf8 0%, #5d96f6 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #77adf8 0%,#5d96f6 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #77adf8 0%,#5d96f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	}
	button.orange{
		background: -moz-linear-gradient(top,  #f78148 0%, #f56639 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f78148 0%,#f56639 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f78148 0%,#f56639 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.purple{
		background: -moz-linear-gradient(top,  #f377f1 0%, #ef5eed 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f377f1 0%,#ef5eed 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f377f1 0%,#ef5eed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.green{
		background: -moz-linear-gradient(top,  #99b834 0%, #7da529 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #99b834 0%,#7da529 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #99b834 0%,#7da529 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.red{
		background: -moz-linear-gradient(top,  #fa5a5a 0%, #f84747 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fa5a5a 0%,#f84747 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fa5a5a 0%,#f84747 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.babyblue{
		background: -moz-linear-gradient(top,  #6ce4eb 0%, #55dce5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #6ce4eb 0%,#55dce5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #6ce4eb 0%,#55dce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.blue{
		background: -moz-linear-gradient(top,  #77adf8 0%, #5d96f6 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #77adf8 0%,#5d96f6 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #77adf8 0%,#5d96f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	}
	button.orange{
		background: -moz-linear-gradient(top,  #f78148 0%, #f56639 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f78148 0%,#f56639 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f78148 0%,#f56639 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
button:hover{
	background: -moz-linear-gradient(top,  #cbcbcb 0%, #d7d7d7 100%);
	background: -webkit-linear-gradient(top, #cbcbcb 0%, #d7d7d7 100%);
	background: linear-gradient(to bottom, #cbcbcb 0%, #d7d7d7 100%);	
}
	button.blue:hover{
		background: -moz-linear-gradient(top,  #5d96f6 0%, #77adf8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #5d96f6 0%, #77adf8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #5d96f6 0%, #77adf8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	}
	button.orange:hover{
		background: -moz-linear-gradient(top,  #f56639 0%, #f78148 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #f56639 0%, #f78148 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #f56639 0%, #f78148 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}	
	button.purple:hover{
		background: -moz-linear-gradient(top,  #ef5eed 0%, #f377f1 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ef5eed 0%, #f377f1 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ef5eed 0%, #f377f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.green:hover{
		background: -moz-linear-gradient(top,  #7da529 0%, #99b834 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #7da529 0%, #99b834 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #7da529 0%, #99b834 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.red:hover{
		background: -moz-linear-gradient(top,  #f84747 0%, #fa5a5a 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #f84747 0%, #fa5a5a 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f84747 0%, #fa5a5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}
	button.babyblue:hover{
		background: -moz-linear-gradient(top,  #55dce5 0%, #6ce4eb 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #55dce5 0%, #6ce4eb 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #55dce5 0%, #6ce4eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */		
	}	
.dialog{
	text-align: center;
	padding: 20px 0;
	font-size: 14px;
	font-style: italic;
}
	.dialog.blue{
		border: 1px solid #4d8fcb;
		color: #4d8fcb;
		background: #d1e4f3;	
	}
	.dialog.green{
		border: 1px solid #98c601;
		color: #98c601;
		background: #effeb9;	
	}
	.dialog.orange{
		border: 1px solid #fab418;
		color: #fab418;
		background: #ffe9ad;	
	}	
	.dialog.red{
		border: 1px solid #eb5439;
		color: #eb5439;
		background: #fbcbc1;	
	}

.pagging-bar {
    margin-top: 30px;
}
	.pagging-bar a{
		background: -moz-linear-gradient(top, #f7f7f7 0%, #d3d3d3 100%);
		background: -webkit-linear-gradient(top, #f7f7f7 0%, #d3d3d3 100%);
		background: linear-gradient(to bottom, #f7f7f7 0%, #d3d3d3 100%);
		
		-webkit-box-shadow: 1px 1px 2px 0 rgba(102, 99, 102, 1);
		-moz-box-shadow: 1px 1px 2px 0 rgba(102, 99, 102, 1);
		box-shadow: 1px 1px 2px 0 rgba(102, 99, 102, 1);
		
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7);
		
		border: 1px none transparent;
		border-radius: 2px;
		display: block;
		float: left;
		font-weight: bold;
		
		line-height: 26px;
		margin-right: 4px;
		text-align: center;
		
		width: 25px;
		height: 25px;
	}
	.pagging-bar a:hover{
		background: -moz-linear-gradient(top, #d3d3d3 0%, #f7f7f7 100%);
		background: -webkit-linear-gradient(top, #d3d3d3 0%, #f7f7f7 100%);
		background: linear-gradient(to bottom, #d3d3d3 0%, #f7f7f7 100%);
	}
	.pagging-bar a:last-child{
		margin-right: 0px;
	}
		.pagging-bar a.selected,
		.pagging-bar a:active{
			background: -moz-linear-gradient(top, #d3d3d3 0%, #f7f7f7 100%);
			background: -webkit-linear-gradient(top, #d3d3d3 0%, #f7f7f7 100%);
			background: linear-gradient(to bottom, #d3d3d3 0%, #f7f7f7 100%);			
			
			-webkit-box-shadow: inset 1px 1px 2px 0 rgba(102, 99, 102, 1);
			-moz-box-shadow: inset 1px 1px 2px 0 rgba(102, 99, 102, 1);
			box-shadow: inset 1px 1px 2px 0 rgba(102, 99, 102, 1);
		}
	
.form-element {
	background: #ffffff;
	border: 1px solid #ececec;
	box-sizing: border-box;
	height: 34px;
	margin-top: 4px;
	padding: 8px 10px;
	width: 200px;
}
	textarea.form-element{
		height: 205px !important;
		width: 394px !important;
	}
.form-element.search{
	padding-right: 25px;
	float: right;
	background: rgba(0, 0, 0, 0) url("../img/search.png") no-repeat scroll 176px 6px;
}

		
.more-button{
	padding: 0 0 0 23px;
	font-family: 'HelveticaNeue Medium';
}
	.more-button.black{
		background: url("../img/more-black.png") no-repeat scroll 0 2px;
	}
	.more-button.white{
		color: #FFFFFF;
		background: url("../img/more-white.png") no-repeat scroll 0 5px;
	}
	
.overlay{
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	cursor: pointer;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
	.overlay .plus{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -18px 0 0 -18px;
		width: 37px;
		height: 37px;
		background: url("../img/overlay/plus.png") no-repeat scroll 0 0;
	}
	.overlay .bar{
		bottom: 0;
		left: 0px;
		right: 0px;
		height: 54px;
		position:absolute;
	}
		.overlay .bar .item{
			color: #ffffff;
			text-align: center;
			float: left;
			width: 33%;
		}
		.overlay .bar .item div{
			margin-bottom: 10px;
			height: 15px;
			width: 15px;
			margin-left: auto;
			margin-right: auto;
		}
		.overlay .bar .item.views div{
			width: 24px;
			background: url("../img/overlay/views.png") no-repeat scroll 0 0;
		}
		.overlay .bar .item.date div{
			background: url("../img/overlay/date.png") no-repeat scroll 0 0;
		}
		.overlay .bar .item.likes div{
			background: url("../img/overlay/likes.png") no-repeat scroll 0 0;
		}
				
header{
	margin-bottom: 1px;
    padding-bottom: 23px;
    padding-top: 23px;
}
	header h1 {
		float: left;
		margin: 0;
		padding: 0;
	}
	header a{
		font-size: 36px;
		color: #000000;
		font-family: 'Chunkfive';
		line-height: 38px;
	}
		header span{
			color: #f03c3c;
		}
.menu {
    border-top: 1px solid #ececec;
	display: block;
	list-style: outside none none;
	padding: 0;
	margin-bottom: 23px;
}
	.menu a{
		border-top: 1px solid #ececec;
		float: left;
		font-size: 14px;
		font-family: 'HelveticaNeue Medium';
		margin-top: -1px;
		padding: 20px 0;
		text-align: center;
	}
	.menu a:hover,
	.menu a.selected{
		border-top: 1px solid #f03c3c;
		color: #f03c3c;
	}
		.menu a span{
			border-right: 1px solid #ececec;
			padding: 5px 20px;
			width: 94px;
		}
		
footer {
   height: 82px;
   border-top: 1px solid #ececec;
   margin-top: 50px;
}
	footer .share{
		float: left;
		margin-top: 22px;
	}
		footer .share a{
			float: left;
			width: 35px;
			height: 34px;
			margin-right: 6px;
		}
			footer .share a.tw{
				background: url("../img/share/tweeter.png") no-repeat scroll 0 0;
			}			
			footer .share a.rss{
				background: url("../img/share/rss.png") no-repeat scroll 0 0;
			}			
			footer .share a.fb{
				background: url("../img/share/facebook.png") no-repeat scroll 0 0;
			}			
			footer .share a.pin{
				background: url("../img/share/pin.png") no-repeat scroll 0 0;
			}
	footer .copyright{
		float: right;
		margin-top: 22px;
		text-align: center;
		width: 334px;
	}
		footer .copyright div:first-child{
			text-align: center;
			font-weight: bold;
		}
			footer .copyright div:first-child a,
			footer .copyright div:first-child span{
				margin-right: 4px;
				color: #4f5356;
			}
		footer .copyright div:last-child{
			font-size: 11px;
			color: #4f5356;
		}
			footer .copyright div:last-child span {
				margin-right: 6px;
			}
			
.slider{
	position: relative;
	margin: 0 0 50px 0;
}
	.slider-window{
		width: 940px;
		height: 502px;
		overflow: hidden;
		position: relative;
	}
		.slides-cnt{
			top: 0;
			left: 0;
			position: absolute;
			width: 1880px;
		}
			.slides-cnt .slide{
				float: left;
				width: 940px;
				position: relative;
			}
		.slider a,
		.slider div.ml{
			float: left;
			margin: 0 6px 6px 0;
			display: block;
			position: relative;
		}
		.slider a.top-row{
			height: 74px;
		}	
		.slider a.bottom-row{
			height: 116px;
			margin-bottom: 0;
		}
		.slider a.right-column{
			margin-right: 0;
		}
		.slider a.tl,
		.slider a.tr,
		.slider a.bl,
		.slider a.br{
			width: 307px;
		}
		.slider a.tm,
		.slider a.bm{
			width: 314px;
		}
		.slider a.mrb{
			width: 307px;
			height: 110px;
		}
		.slider div.ml{
			width: 627px;
			height: 299px;
		}
		.slider a.mrt{
			width: 307px;
			height: 183px;
		}	
		.slider a.tl{
			background: url("../img/slider/tl.png") no-repeat scroll 0 0;
		}	
		.slider a.tm{
			background: url("../img/slider/tm.png") no-repeat scroll 0 0;
		}
		.slider a.tr{
			background: url("../img/slider/tr.png") no-repeat scroll 0 0;
		}
		.slider div.ml{
			background: url("../img/slider/ml.png") no-repeat scroll 0 0;
		}
		.slider a.mrt{
			background: url("../img/slider/mrt.png") no-repeat scroll 0 0;
		}
		.slider a.mrb{
			background: url("../img/slider/mrb.png") no-repeat scroll 0 0;
		}
		.slider a.bl{
			background: url("../img/slider/bl.png") no-repeat scroll 0 0;
		}
		.slider a.bm{
			background: url("../img/slider/bm.png") no-repeat scroll 0 0;
		}
		.slider a.br{
			background: url("../img/slider/br.png") no-repeat scroll 0 0;
		}
		
		.slider a.next,
		.slider a.prev{
			width: 92px;
			height:85px;
			position: absolute;
			top: 175px;
			margin: 0;
		}
		.slider a.next{
			right: -15px;
			background: url("../img/next.png") no-repeat scroll 0 0;
		}
		.slider a.prev{
			left: -15px;
			background: url("../img/prev.png") no-repeat scroll 0 0;
		}	
		
		.slider a:hover  > .overlay{
			display: block;
		}
		.blurb{
			background: rgba(0, 0, 0, 0.8);
			width: 294px;
			height: 195px;
			color: #FFFFFF;
			padding: 29px;
			box-sizing: border-box;
			margin: 76px 0 0 306px;
		}
			.blurb h3{
				font-size: 24px;
				margin: 0;
			}
			.blurb p{
				margin-top: 20px;
			}

.article-title{
	font-size: 30px;
	font-family: 'Chunkfive';
	color: #000000;
	text-align: center;
	margin: 0 0 48px;
}
.bredcrumb{
	font-size: 14px;
	font-family: 'HelveticaNeue Medium';
}
	.bredcrumb span{
		margin: 0 2px;
	}
	.bredcrumb a{
		font-family: 'HelveticaNeue Medium';
	}
	.bredcrumb a.selected,
	.bredcrumb a:hover{
		color: #f03c3c;
	}
			
.article-list{
	margin-top: 24px;
}
	.article-column{
		float: left;
		margin-right: 20px;
		width: 220px;
	}
	.article-column:last-child{
		margin-right: 0;
	}
		.article-column article{
			margin-bottom: 21px;
		}
			.article-column article .art-body{
				border: 1px solid #dbdbdb;
				border-top: none;
				padding: 15px 15px 22px 15px;
			}
				.article-column article .art-body h3{
					font-size: 17px;
					margin: 0 0 6px;
				}
				.article-column article .art-body span{
					font-size: 11px;
					color: #8a8a8a;
				}
				.article-column article .art-body p{
					margin: 20px 0;
				}
			.article-column article .art-img:hover  > .overlay{
				display: block;
			}
			.article-column article .art-img{
				display: block;
				position: relative;
			}
				.art-img img {
					display: block;
				}
.about.main {
    margin-top: 22px;
}
	.about.main img,
	.about.quote span,
	.about.quisque:first-letter{
		float: left;
		color: #f03c3c;
	}
	.about.main p{
		margin: 18px 0;
	}
	.about.main img{
		margin: 4px 40px 0 0;
	}
	.about.quisque:first-letter{
		font-size: 36px;
		font-weight: bold;
		line-height: 33px;
		margin: 0 16px 0 0;
	}
	.about.quote{
		margin: 0 40px 0 0;
		font-style: italic;
	}	
		.about.quote span{
			font-size: 72px;
			line-height: 64px;
			margin: 0 12px 0 0;
			font-style: normal;
		}
	.about.grid{
		
	}	
		.about.grid p{
			float: left;
			box-sizing: border-box;
		}
		.about.grid p.left{
			padding-right: 12px;
		}
		.about.grid p.middle{
			padding-left: 12px;
			padding-right: 12px;
		}
		.about.grid p.right{
			padding-left: 12px;
		}
		.about.grid p.row-top{
			width: 50%;
		}
		.about.grid p.row-bottom{
			width: 33%;
		}
.site-buttons{
	margin-top: 22px;
}
	.site-buttons button{
		margin-right: 18px;
	}
.site-alerts{
	margin-top: 36px;
}
	.site-alerts .dialog{
		margin-top: 20px;
	}

.item-img-cnt{
	margin-right: 40px;
	float: left;
	width: 540px;
}
	.item-img-cnt img{
		margin-bottom: 30px;
	}
	.item-img-cnt img:last-child{
		margin-bottom: 0;
	}	
.item-info-cnt{
	float: left;
	width: 360px;
}
	.item-info-cnt .info-bar{
		margin-bottom: 30px;
		width:100%;
	}
		.item-info-cnt .info-bar td span:last-child{
			color: #f03c3c;
			display:block;
			margin-top: 4px;
		}
	.item-info-cnt .more-button{
		display: block;
		font-weight: bold;
		margin-top: 45px;
		line-height: 13px;
		color: #474747;
	}

.item-arts-title{
	margin-top: 44px;
}
.item-arts-row {
    margin: 0;
    width: 100%;
	float: none;
}	
	.item-arts-row article{
		float:left;
		margin-right: 20px;
	}
	.item-arts-row article:last-child{
		margin-right: 0;	
	}
		.item-arts-row article .art-body{
			padding: 15px 15px 4px;
		}

.contacts-info{
	margin: 44px 0 30px 0;
}		
.map{
	height: 400px;
	width: 940px;
}
.contacts-form{
	margin-top: 30px;
}
	.contacts-form .form-element{
		margin-bottom: 10px;
	}
	.contacts-form .more-button{
		margin-top: 4px;
		background-position: 0 4px;
		color: #474747;
	}